*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
#possibilities {
    margin: 150px 0;
}
.container {
    width: 1700px;
    
    margin: 0 auto;
}
.main-title h2 {
    font-size: 70px;
    margin-bottom: 50px;
}
.mian-title p {
    font-size: 60px;
    margin-bottom: 30px;
}
.main-box {
    display: flex;
}   
    
.main-box .data {
    width: 500px;
    height: 300px;
}
.main-box .data img {
    width: 150px;
    height: 150px;
    margin-bottom: 150px;
    margin: 60px;
}
.main-box .data h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 35px;
}
.container .main-title p {
    font-size: 33px;
}

